@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400;500;600&family=Montserrat:wght@300;400;500;600;700&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.main {
    position: relative;
    background-color: rgb(203, 203, 203);
    width: 100%;
    height: auto;
    font-family: 'IBM Plex Sans', sans-serif;
    overflow: hidden;
}
.main .header {
    height: 4rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 48px;
}
.header h3 {
    font-size: 2.5rem;
    font-weight: bold;
    letter-spacing: 1.4px;
    color: #C3F8FF;
}
.header .logo {
    display: flex;
    gap: 8px;
}
.header .main-icon {
    width: 64px;
}
.weather-main {
    padding: 16px;
    position: relative;
    background: url("../thunder.png");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#error {
    width: 100%;
    height: 32;
    
}
#error.show-error {
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    color: red;
    font-size: 1.2rem;
    text-transform: capitalize;
}
.weather-display {
    width: 50%;
    height: calc(100vh - 5rem);
    display: grid;
    gap: 16px;
    grid-template-rows: 150px 1fr;
    padding: 8px;
    background-color: rgba(171, 217, 255, 0.6);
    border-radius: 16px;
    box-shadow: 5px 5px 5px rgb(52, 52, 52);
    margin: 16px 0;
}
.form-section {
    position: relative;
    width: 100%;
    padding: 8px 0;
}
.form-section .city-display {
    position: relative;
    color: #C3F8FF;
    font-size: 2rem;
    font-weight: 600;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 8px;
    text-transform: capitalize;
    padding: 6px 0;
    background-color: #0F3460;
    border-radius: 8px;
}
.form-section .date {
    color: #C3F8FF;
    padding: 8px;
    font-size: 1.1rem;
}
.city-form {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 16px 0 0;
}
.form-input {
    width: 80%;
    display: flex;
    gap: 1px;
    text-align: center;
    border: 2px solid #0F3460;
    border-radius: 8px;
}
#city::placeholder{
    color: #0F3460;
    font-size: 1rem;
}
#city {
    width: 90%;
    height: 40px;
    border: 1px solid #fff;
    outline-color: #fff;
    padding: 3px;
    margin: 0;
    color: #0F3460;
    font-size: 1.1rem;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}
#submit-btn {
    width: 48px;
    padding: 4px 12px;
    border-radius: none;
    border: none;
    height: 40px;
    background-color: #ABD9FF;
    color: #FFF;
    letter-spacing: 1.3px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}
#submit-btn .search-icon {
    width: 24px;
    height: 24px;
}
.info {
    position: relative;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    overflow: hidden;
    gap: 4px;
    padding: 8px 0 8px 8px;
    color:rgb(207, 207, 207);
}
.info > div > div {
    padding: 8px;
    border-radius: 4px;
}
.weather {
    grid-column: 1 / span 2;
}
.weather-info {
    position: relative;
    width: 70%;
}
.weather-icon {
    position: absolute;
    width: 4rem;
    height: 4rem;
    top: 50%;
    transform: translateY(-50%);
    right: 16px;
    animation-duration: 2s;
    animation-name: anim;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes anim {
    from {
        scale: 0.8;
    }
    to {
        scale: 1;
    }
    
}

.info h4 {
    letter-spacing: 2px;
    font-weight: 600;
    font-size: 1.5rem;
    color: #C3F8FF;
}

.info h3 {
    font-weight: bolder;
    font-size: 1.2rem;
}
#description {
    text-transform: capitalize;
}
.info p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}
.temperature {
    grid-column: 1 / span 2;
}
.temperature .temperature-data {
    height: calc(100% - 32px);
}
.temperature-data #temp {
    font-size: 2rem;
}
.other-temp {
    display: flex;
    align-items: center;
    gap: 5px;
    height: 32px;
}
.temperature h6 {
    font-size: 1.5rem;
}
.temperature p {
    font-size: 1.2rem;
    
}
.data {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
}
.pressure {
    align-items: flex-start;
}

@media (max-width: 768px) {
    .main .header {
        padding: 0 16px;
    }
    .weather-display {
        width: 100%;
        height: 100%;
        display: grid;
        align-content: flex-start;
        grid-template: auto / 1fr;
        row-gap: 16px;
    }
    .form-section {
        height: auto;
        gap: 0px;
    }
    .form-section .city-form {
        /* width: 70%; */
        padding: 16px 0 0 0;
    }
    #city {
        height: 48px;
    }
}